.button{
  display: inline-flex;
  width: 500px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
.btn1{
  margin: 50px;
}
.App{
  text-align: center;

}